.banner {
	.container {
		display: flex;
		gap: 40px;
		justify-content: space-between;
	}
}

.main-title {
	font-size: 64px;
	font-weight: 500;
	line-height: 77px;
	color: $primary-second;
}

.main-subtitle {
	font-size: 40px;
	line-height: 48px;
	font-weight: 400;
	color: $white;
}

.main-description {
	font-size: 18px;
	font-weight: 500;
	margin-top: 30px;
	margin-bottom: 40px;
	color: $white;
}

.banner-img {
	max-width: 340px;
	max-height: 340px;
	border-radius: 8px;
  overflow: hidden;

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.banner-button {
	margin-top: auto;
	width: fit-content;
}

.banner-content {
	display: flex;
	flex-direction: column;
}

.specials-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;

	@media only screen and (max-width: 960px) {
    flex-direction: column;
		align-items: flex-start;
  }
}

.specials-content {
	display: flex;
	gap: 55px;

	@media only screen and (max-width: 960px) {
    flex-direction: column;
  }
}

.specials-img {
	max-height: 140px;
	object-fit: cover;
}

.specials-description {
	color: $primary-first;
	font-size: 16px;
	font-weight: 400;
}

.specials-box {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
  overflow: hidden;
	box-shadow: 1px 8px 10px 1px rgb(0 0 0 / 20%)
}

.specials-box-container {
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: $secondary-third;
}

.specials-title {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	color: $black;
}

.specials-button {
	margin-top: auto;
	width: fit-content;
	background-color: transparent;
	border-color: transparent;
	font-size: 18px;
	line-height: 21px;
	font-weight: 500;
}

.specials-price {
	color: $secondary-first;
	font-size: 16px;
	font-weight: 500;
}

//Testimonials

.testimonials {
	.display-title {
		text-align: center;
		color: $secondary-third;
	}

	.testimonials-content {
		display: flex;
		gap: 20px;
		margin-top: 50px;

		@media only screen and (max-width: 960px) {
			flex-direction: column;
		}
	}

	.testimonial {
		padding: 16px;
		border-radius: 3px;
		flex: 1 1 24%;
		background-color: $secondary-third;
	}

	.testimonial-wrapper {
		display: flex;
		align-items: center;
    gap: 10px;
		margin-bottom: 20px;
	}

	.testimonial-img {
		max-width: 60px;
		height: 60px;
		border-radius: 50%;
		object-fit: cover;
		border: 1px solid $secondary-fourth;
	}

	.testimonial-title {
		margin-bottom: 20px;
	}

	.testimonial-text {
		color: $secondary-fourth;
	}
}

//About
.about {
	display: flex;

	> * {
		flex: 1 1 50%;
	}

	.main-title,
	.main-subtitle,
	.main-description {
		color: $secondary-fourth;
	}

	.about-img {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;

		@media only screen and (min-width: 961px) {
			justify-content: center;
			gap: 0;

			img {
				&:first-child {
					transform: translate(40%, 30%);
				}
			}
		}

		img {
			max-width: 230px;
			height: 260px;
			object-fit: cover;
			border-radius: 3px;
		}
	}
}