//colors
$black: #000000;
$white: #ffffff;

$primary-first: #495E57;
$primary-second: #F4CE14;
$secondary-first: #EE9972;
$secondary-second: #FBDABB;
$secondary-second: #EDEFEE;
$secondary-fourth: #333333;