
@import './styles/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&display=swap');
@import './styles/index.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
  color: $black;
}

.primary-font {
  font-family: 'Markazi Text', serif;
}

.secondary-font {
  font-family: 'Karla', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: unset;

  &:hover {
    text-decoration: underline;
  }
}

.container {
  max-width: 888px;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.header-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.primary-button {
  background-color: $primary-second;
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  outline-color: transparent;
  border-color: transparent;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
    background-color: rgba($primary-second, 0.9);
  }
}

.primary-background {
	background-color: $primary-first;
}

.secondary-background {
	background-color: $secondary-third;
}

.display-title {
  @extend .primary-font;
  font-size: 64px;
  line-height: 77px;
  font-weight: 500;
}

.card-title {
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
}

.small-font {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.paragraph-font {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: $primary-first;

  &.dark-color {
    color: $secondary-fourth;
  }
}